body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  padding: 20px;
  text-align: center;
  color: white;
}

#club-info {
  padding: 30px;
  text-align: center;
}

#club-details {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#ranking-buttons button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

#ranking-buttons button:hover {
  background-color: #2980b9;
}

#ranking-container {
  margin-top: 30px;
}

footer {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
